<%- include('./components/head.ejs') %> 
<main>
  <div class="container">
    <h2><%= title %></h2>
    <table class="gameListTable">
      <thead>
        <tr>
          <th>Jugadores</th>
          <th>Fecha</th>
          <th>Mano</th>
          <th style="text-align: center;">Acción</th>
        </tr>
      </thead>
      <tbody>
        <% if (!gameList.length){ %>
          <th colspan="4"> No hay juegos guardados</th>
        <% }else{ %>  
          <% gameList.forEach( g => { %>
            <tr>
              <th><%= g.players %></th>
              <th><%= g.timestamp %></th>
              <th><%= g.handNumber%></th>
              <td>
                <div style="display: flex; justify-content: space-evenly; align-items: center;">
                  <button type="button" class="btn btn-warning">
                    <a class="text-white" href="/game/<%= g.id %>">
                        Cargar
                    </a>
                </button>
                <form style="margin: 0px; margin-left: 5px" action="/game/delete/<%= g.id %>" method="post">
                  <button class="text-white btn btn-danger" type="submit">
                      Eliminar
                  </button>
                  <input type="hidden" name="_method" value="DELETE">
              </form>
                </div>
              </td>
            </tr>
          <% }) %>   
        <% } %> 
      </tbody>
    </table>
  </div>
</main>
<%- include('./components/footer.ejs')  %> 