<%- include('./components/head.ejs') %> 
<main>
  <div class="container">
    <h2><%= title %></h2>
    <div class="table-container">
      <table class="gameListTable">
        <thead>
          <tr>
          <th>Jugadores</th>
          <th>Fecha</th>
          <th>Mano</th>
          <th style="text-align: center;">Acción</th>
        </tr>
        </thead>
        <tbody>
        <% if (!gameList.length){ %>
          <th colspan="4"> No hay juegos guardados</th>
        <% }else{ %>  
          <% gameList.forEach( g => { %>
            <tr>
              <th><%= g.players %></th>
              <th><%= g.timestamp %></th>
              <th><% if(g.handNumber === 22) {%>Finalizado<% }else{ %><%= g.handNumber%><% } %></th>
              <td>
                <div style="display: flex; justify-content: space-evenly; align-items: center;">
                  <button type="button" class="btn-load">
                    <a href="/game/<%= g.id %>">
                      Cargar
                    </a>
                  </button>
                  <form style="margin: 0px; margin-left: 5px" action="/game/delete/<%= g.id %>" method="post">
                    <button class="btn-delete" type="submit">
                      <span class="icon-bin2"></span>
                    </button>
                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                </div>
              </td>
            </tr>
          <% }) %>   
        <% } %> 
        </tbody>
      </table>
    </div>
  </div>
</main>
<%- include('./components/footer.ejs')  %> 