<%- include('./components/head.ejs') %> 
<main id="handMain">
  <div id="scoreContainer">
    <div id="btnPodium">
      <img src="/assets/podium.svg" alt="Podio">

    </div>
    <div class="playerScoreContainer">
      <ul>
        <% playerScore.forEach( (p,index) => { %>
          <li><%=index+1%>° <%=p.name%>: <%=p.score%>pts.</li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="container containerHand">
    <div class="spanContainer">
      <span class="problem opacity-0" id="problemSpan"></span>
    </div>
    <h2><%= title %></h2>
    <form action="/game/hand" id="formHand" method="post">
      <div class="handSlider">
        <div class="playerList">
          <% playerList.forEach( (p,index) => { %>
            <div class="formElement">
            <label class="labelName" for="[players][<%=index%>][predict]"<% if(index==6) { %> data-name="<%= p.name %>" <% } %> ><%=p.name %> pidió:</label>
            <div class="input-container">
              <% for (let i = 0; i<=cardLimit;i++) {%>
                <input type="radio" class="inputRequest none<% if(index===6) { %> lastPlayer<% } %>" name="[players][<%=index%>][predict]" id="predict-<%=p.id%>-<%=i%>" value="<%=i%>" <% if((p.predict && i==p.predict)|| i==0) { %> checked<% } %> >
                <label for="predict-<%=p.id%>-<%=i%>"><%=i%><%i===1 ? "carta" : "cartas" %></label>
                <% } %>  
            </div>
            <input type="hidden" name="[players][<%=index%>][playerId]" value="<%= p.id %>">
            </div>
          <% }) %>
          <div class="inlineContainer"> 
            <a href="/game/<%= gameId %>/addMistake" class="mistake-button">It's a Mistake</a>
            <input type="button" value="Jugar" id="btnPlay">
          </div>
        </div>
        <div class="playerList">
          <% playerList.forEach( (p,index) => { %>
            <div class="formElement">
              <label class="labelName playerTaken" for="[players][<%=index%>][take]" data-name="<%= p.name %>" ><%=p.name %> pidió <%= p.predict %>, cuantas se llevó:</label>
              <div class="input-container">
                <% for (let i = 0; i<=cardLimit;i++) {%>
                  <input type="radio" class="inputTake none" name="[players][<%=index%>][take]" id="take-<%=p.id%>-<%=i%>" value="<%=i%>" <% if((p.take &&i==p.take) || i==0) { %> checked<% } %> >
                  <label for="take-<%=p.id%>-<%=i%>"><%=i%><%i===1 ? "carta" : "cartas" %></label>
                <% } %>  
              </div>
              <input type="hidden" name="[players][<%=index%>][handId]" value="<%= p.handId %>">
            </div>
          <% }) %>
          <div class="formTakenButtons">
            <div class="inlineContainer">
              <input type="button" id="btnReturnRequest" value="volver">
              <a href="/game/<%= gameId %>/addMistake" class="mistake-button">It's a Mistake</a>
              <div class="btnDiv disabled">
                <div id="btnPercentage"></div>
                <input id="btnPoints" type="button" value="Calcular Puntos" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <table class="handPointsTable">
            <thead>
              <tr>
                <th scope="col">Jugador</th>
                <th scope="col">Pidió</th>
                <th scope="col">Se Llevó</th>
                <th scope="col">Puntos</th>
              </tr>
            </thead>
            <tbody>
              <% playerList.forEach( (p,index) => { %>
                <tr>
                  <th><%= p.name %></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <input type="hidden" name="[players][<%=index%>][points]" value="">
                </tr>
              <% }) %>  
            </tbody>
          </table>
          <div class="inlineContainer">
            <input type="button" id="btnReturnTake" value="volver">
            <a href="/game/<%= gameId %>/addMistake" class="mistake-button">It's a Mistake</a>
            <input class="button-submit" type="submit" value="Terminar Mano">
          </div>
        </div>
      </div>
      <input type="hidden" name="gameId" value="<%= gameId %>">

    </form>
  </div>
  </div>
</main>
<script>
  const cardLimit = <%-JSON.stringify(cardLimit)%>;
</script>
<%- include('./components/loader.ejs') %>
<%- include('./components/footer.ejs')  %> 