<%- include('./components/head.ejs')  %>
<div class="container containerHand">
  <h2><%= title %></h2>
  <form action="/mistake/create" method="post" class="form-input-text">
    <div class="label-container"><label for="mistake-input">Nombre:</label><input type="text" name="mistake" id="mistake-input" value="<% if(typeof mistake != "undefined"){  %><%= mistake.mistake %><% } %>" required></div>
    <div class="label-container"><label for="points-input">¿Cuántos puntos resta?:</label><input type="number" name="points" id="points-input" min="10" max="20" value="<% if(typeof mistake != "undefined"){  %><%= mistake.points %><% } %>" required></div>
    <input type="hidden" name="id" value="<% if(typeof mistake != "undefined"){  %><%= mistake.id %><% }else{ %>0<% } %>">
    <input type="submit" value="Cargar Mistake" class="menu-button">
  </form>
</div> 
<%- include('./components/footer.ejs')  %> 

