<%- include('./components/head.ejs')  %>
<main>
  <div class="container">
    <h2><%= title %></h2>
    <div class="table-container">
      <table class="handPointsTable">
        <thead>
          <tr>
            <th>Jugador</th>
            <th>Mistake</th>
            <th>Puntos</th>
            <th>Mano</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <% if (!mistakeMadeList.length){ %>
            <th colspan="5"> No hay Mistake en esta partida </th>
          <%}else{ mistakeMadeList.forEach( m => { %>
            <tr>
              <th><%= m.name %></th>
              <th><%= m.mistake %></th>
              <th><%= m.points %></th>
              <th><%= m.handNumber %></th>
              <th>
                <div style="display: flex; justify-content: space-evenly; align-items: center;">
                  <button type="button" class="btn-edit">
                    <a class="text-white" href="/game/<%= gameId %>/addMistake/<%= m.id %>">
                      <span class="icon-pencil"></span>
                    </a>
                  </button>
                  <form style="margin: 0px; margin-left: 5px" action="/game/<%= gameId %>/deleteMistake/<%= m.id %>" method="post">
                    <button class="btn-delete" type="submit">
                      <span class="icon-bin2"></span>
                    </button>
                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                </div>
              </th>
            </tr>  
          <% }) %>  
        <% } %>
        </tbody>
      </table>
    </div>
    <a class="menu-button" href="/game/<%= gameId %>">Volver a la partida</a>
  </div>
</main> 
<%- include('./components/footer.ejs')  %> 