<%- include('./components/head.ejs') %> 
<main>
  <div class="container containerHand">
    <h2><%= title %></h2>
    <form action="/game/setFirstPlayer" method="post">
      <div class="label-container">
        <label for="firstPlayer">Seleccione el primer jugador que será mano:</label>
        <select name="playerId" id="firstPlayer">
          <% playerList.forEach( p => { %>
            <option value="<%= p.id %>"><%= p.name %></option>
          <% }); %>
        </select>
      </div>
      <input type="hidden" name="gameId" value="<%= gameId %>">
      <input type="submit" class="menu-button" value="Iniciar Juego">
    </form>
  </div>
</main>
<%- include('./components/footer.ejs')  %> 