<%- include('./components/head.ejs') %>
<main>
  <div class="container">
    <h2><%= title %></h2>
    <button id="btn-export-to-excel">Exportar a Excel<span class="icon-file-excel"></span></button>
    <div class="table-container">
      <table class="pointsTable" id="points-table">
        <thead>
          <tr>
            <th></th>
            <% playerList.forEach( p => { %>
              <th scope="col" colspan="3" class="headerTh"><%= p.name %></th>  
            <% }) %>  
          </tr>
          <tr>
            <th>Mano</th>
            <% playerList.forEach( p => { %>
              <th class="headerTh">P</th>  
              <th class="headerTh thMiddle">Ll</th>  
              <th class="headerTh thMiddle">Pts</th>  
            <% }) %>  
          </tr>
        </thead>
        <tbody>
          <% for(let i =0; i <= 22; i++){ %>
            <% if (i==22) {%> 
              <tr class="mistakeRow">
                <th scope="row">Mistake</th>
                <% playerList.forEach( p => { %>
                  <td scope="col" colspan="3" class="mistakeTd"><%=p.mistakePoints%></td>  
                <% }) %>  
              </tr>
            <% } %>
            <% if (i==22) {%> 
              <tr>
                <th scope="row">Puntos</th>
                <% playerList.forEach( p => { %>
                  <td scope="col" colspan="3" class="pointsTd"><%=p.finalPoints%></td>  
                <% }) %>  
              </tr>
            <% } %>
            <% if (i<21) {%> 
              <tr <% if (i>6 && i<14) {%>class="trMiddle"<%}%>>
                <th scope="row"><%=i+1%><% if(playerList[0].handList[i] === undefined ) {%><%} else{%>
                    <div class="btn-edit" style="display: inline;">
                      <a href="/game/<%= gameId %>/editHand/<%= i+1 %>">
                        <span class="icon-pencil"></span>
                      </a>
                    </div>
                  <%}%></th>
                <% playerList.forEach( p => { %>
                  <td scope="col" class="handTd"><% if(p.handList[i] === undefined ) {%><%} else{%><%=p.handList[i].predict%><%}%></th>  
                  <td scope="col" class="handTd thMiddle"><% if(p.handList[i] === undefined) {%><%} else{%><%=p.handList[i].take%><%}%></th>  
                  <td scope="col" class="handTd thMiddle"><% if(p.handList[i] === undefined) {%><%} else{%><%=p.handList[i].points%><%}%></th>  
                <% }) %>  
              </tr>
            <% } %>
          <% } %>  
        </tbody>
      </table>
    </div>
  </div>
</main> 
<%- include('./components/footer.ejs') %> 